[data-type="kd-flow/section-block"]:first-child {
    margin-top: -4rem
}

 div[data-type="kd-flow/section-block"].alignfull {
     max-width: var(--width-full);
 }

 div[data-type="kd-flow/section-block"].alignfull .block-editor-block-list__layout >*+* {
    margin-top: var(--flow, 2rem);
 }

 div[data-type="kd-flow/section-block"].alignfull > .block-editor-inner-blocks {
     width: 100%;
     max-width: 100%;
 }